{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
        <a href="/logout">Se déconnecter</a>
    {% else %}
        <a href="/login">Se connecter</a>
    {% endif %}
    
    {% for stagiaire in stagiaires %}
        <h2>{{ stagiaire.lastname }} {{ stagiaire.firstname }}</h2>
        <a href="/stagiaire/{{ stagiaire.id}}">Voir les infos complètes</a>
        {% if app.user %}
            <a href="/stagiaire/{{ stagiaire.id}}/delete">Effacer</a>
            <a href="/stagiaire/{{ stagiaire.id}}/update">Modifier</a>
        {% endif %}
    {% endfor %}

{% endblock %}
